* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;

    background: linear-gradient(
        135deg,
        #FFF3A3,
        #FDEFA8,
        #DDF0B2,
        #B8E6E6,
        #9DD9F5,
        #A5C9F2,
        #B9B0E8        
    );

    overflow: hidden;

    position: relative;
}

.contenedor {
    width: 100%;
    padding: 20px;

    display: flex;
    justify-content: center;
}

.tarjeta {
    width: 100%;
    max-width: 500px;

    background-color: rgba(255, 255, 255, 0.90);

    padding: 45px 35px;

    border-radius: 25px;

    text-align: center;

    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);

    animation: aparecer 1s ease;
}

.emoji-principal {
    font-size: 20px;
    margin-bottom: 15px;
    color: #FFD84D;
}

h1 {
    color: #FFD84D;

    font-size: 36px;

    margin-bottom: 18px;
}


.subtitulo {
    color: #666;

    font-size: 18px;

    margin-bottom: 20px;
}


.mensaje {
    color: #444;

    font-size: 17px;

    line-height: 1.6;

    margin-bottom: 25px;
}

.separador {
    font-size: 25px;

    margin: 20px 0;
}


.final {
    color: #555;

    font-size: 8px;

    line-height: 1.6;
}


.firma {
    margin-top: 25px;

    color: #FFD84D;

    font-size: 18px;

    font-weight: bold;
}


.flor {
    font-size: 35px;
}

.flor{
    position: absolute;

    font-size: 45px;

    opacity: 0.8;
}



.amarillot{
    color: #9B6BFF;
    top: 15%;
    right: 10%;
}


.azult{
    color: #75BFFF;
    top: 8%;
    left: 8%;
}

.violetat{
    color: #75BFFF;
    bottom: 12%;
    left: 12%;
}

.amarillol{
    color: #9B6BFF;
    bottom: 8%;
    right: 8%;
}


.azull{
    color: #9B6BFF;
    top: 45%;
    left: 3%;
}

.violetal{
    color:  #75BFFF;
    top: 50%;
    right: 3%;
}




@media (max-width: 600px) {

    .tarjeta {
        padding: 35px 25px;
    }

    h1 {
        font-size: 29px;
    }

    .emoji-principal {
        font-size: 60px;
    }

    .subtitulo {
        font-size: 16px;
    }

    .mensaje {
        font-size: 16px;
    }

    .flor {
        font-size: 32px;
    }
}
